<article id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}" class="js-comment comment {% if include.name == site.author.name %}admin{% endif %} {% if include.replying_to > 0 %}child{% endif %}">
        <div class="comment-avatar">
          {% if include.avatar %}
            <img src="{{ include.avatar }}" alt="">
          {% elsif include.email %}
            <img src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=120" alt="">
          {% else %}
            <img src="/assets/img/avatar.png" alt="">
          {% endif %}
        </div>
        <div class="comment-body">
            <h3 class="comment-author-name">{{ include.name | strip_html }}</h3>
            <div class="comment-timestamp">
                {% if include.date %}
                    {% if include.index %}<a href="#comment{% if r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endif %}" title="Permalink to this comment">{% endif %}
                    <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%B %d, %Y' }}</time>
                    {% if include.index %}</a>{% endif %}
                {% endif %}
            </div>
            <div class="comment-content">
                {{ include.message | markdownify }}
            </div>
            {% unless include.replying_to != 0 or page.comments_locked == true %}
            <div class="comment-reply">
                <a rel="nofollow" href="#comment-{{ include.index }}" data-index="{{ include.index }}" data-name="{{ include.name }}"><span class="fas fa-reply"></span> Reply to {{ include.name }}</a>
                <!-- onclick="return addComment.moveForm('comment-{{ include.index }}', '{{ include.index }}', 'respond', '{{ page.slug }}')" -->
            </div>
            {% endunless %}
        </div>
      </article>
      
      {% capture i %}{{ include.index }}{% endcapture %}
      {% assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to == i' %}
      {% for reply in replies %}
        {% assign index       = forloop.index | prepend: '-' | prepend: include.index %}
        {% assign r           = reply.replying_to %}
        {% assign replying_to = r | to_integer %}
        {% assign avatar      = reply.avatar %}
        {% assign email       = reply.email %}
        {% assign name        = reply.name %}
        {% assign date        = reply.date %}
        {% assign message     = reply.message %}
        {% include comment.html index=index replying_to=replying_to avatar=avatar email=email name=name date=date message=message %}
      {% endfor %}